<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">SGE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="nav-link" th:href="@{/admin/dashboard}">Admin</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''PROFESSOR'')')}">
                        <a class="nav-link" th:href="@{/professor/dashboard}">Professor</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ALUNO'')')}">
                        <a class="nav-link" th:href="@{/aluno/dashboard}">Aluno</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>